.wrapper {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    padding: 10px 100px 10px 100px;
}

.cardWrap {
    background-image: linear-gradient(to bottom, rgba(12,113,207,1) 0%, rgb(76, 161, 252) 100%);
    width: 80%;
    display: flex;
    flex-direction: row;
    padding: 10px;
    margin-bottom: 40px;
    div {
        display: flex;
        flex-direction: column;
        width: 100%;
        min-width: 100px;
    }
}