.wrapper {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding: 10px 100px;


    div {
        width: 90%;
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        background: rgb(2,0,36);
        background: linear-gradient(0deg, rgb(29, 19, 218) 0%, rgb(22, 22, 255) 35%, rgb(22, 22, 255) 100%);
        border: 2px solid   rgba(27, 224, 224, 0.527);
        div {
            width: 100%;
        }  
    }
}